@import '../../styles/variables';

.login-container {
  width: $inner-max-width;
  margin: 0 auto;

  .title {
    text-align: center;
    padding: 2rem 0;
  }

  .logo {
    margin: 0 auto;
    padding-bottom: 5rem;
    display: block;
    min-height: 19rem;
  }

  .login-button {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background: $black;
    border-radius: $button-border-radius;
    border: $border-med solid $white;
    padding: 0.5rem 1rem;
    align-items: center;
    text-decoration: none;
    min-height: 1.5rem;
  }
  .login-text {
    flex: 8.5;
    font-size: 1rem;
    color: $white;
    text-align: center;
  }
  .login-icon {
    flex: 1.5;
    display: flex;
    align-items: center;

    .login-icon-img {
      max-height: 1.5rem;
    }
  }
}
