/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import './styles/variables';


body {
    background: $darkBase;
    margin-top: 4rem;
    font-family: Roboto;
    color: $white;
}