.header-container {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    background:rgba(3, 115, 224,0.9);
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 2rem;
    justify-content: space-between;

    .icon-area {
        padding: 0 2%;
        min-width: 5%;
    }
    .title-area {
        min-width: 50%;
    }
}