<div *ngIf="showHeader" class="header-container">
    <div class="icon-area">
        <div (click)="toggleNav()">
            Menu
        </div>
    </div>

    <div class="title-area"
        [routerLink]="homeUrl">
        The Perch
    </div>

    <div class="icon-area"
        [routerLink]="createUrl">
        +
    </div>
</div>

<perch-navigation class="nav"
    [ngClass]="{'nav-open-annimation': displayNav, 'nav-close-annimation' : !displayNav}"
    (closeNav)="toggleNav()">
</perch-navigation>
