@import '../../styles/variables';
@import '../../styles/mixins/webkit-touch';

.header-container {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    background:rgba($cyan,0.9);
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 2rem;
    justify-content: space-between;
    align-items: center;

    .icon-area {
        padding: 0 2%;
        min-width: 5%;
        @include wk-tap-highlight;        
    }
    .title-area {
        min-width: 50%;
        @include wk-tap-highlight;
    }
}

.nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $lightBase;
    z-index: $navLayer;
}
.nav-open-annimation {
    transition: 1s;
    left: 0%;
}
.nav-close-annimation {
    transition: 1s;
    left: -100%;
}