@import '../../styles/variables';
@import '../../styles/mixins/ellipsis';

.calendar-card {
    width: 100%;
    display: flex;
    margin: 1rem 0;

    .gradient-container {
        width: 10%;
        height: auto;
        background: $darkBaseToCyan45;
        text-align: center;
        color: white;
        flex: 2;
        padding: 1rem;
        border-radius: $card-border-radius 0 0 $card-border-radius;

        .text1 {
            font-size: 3rem;
            display: block;
        }
        .text2 {
            font-size: 1rem;
            display: block;
        }
    }
    .card-content {
        width: 90%;
        height: auto;
        background: rgba($cyan, 0.1);
        flex: 8;
        padding: 1rem;
        border-radius: 0 $card-border-radius $card-border-radius 0;
        font-weight: $lightFontWeight;
        border: $borderThick solid $cyan;
        border-left: 0;

        .text1{
            display: block;
            width: 100%;
            font-size: 1.3rem;
            line-height: 1.8rem;
            @include ellipsis;
        }
    }
}