// BASE COLORS
$darkBase: #002B36;
$medBase: #073642;
$lightBase: #586E75;
$offWhite: #EEE8D5;
$white: #FDF6E3;
$black: #24292e;

// HIGHLIGHT COLORS
$yellow: #B58900;
$orange: #CD4B16;
$red: #DC322F;
$magenta: #D33682;
$violet: #6C71C4;
$blue: #268BD2;
$cyan: #2AA198;
$green: #92C43F;

// GRADIENTS
$darkBaseToCyan45: linear-gradient(135deg, #002b36 0%,#2aa198 100%);

//Border Radius
$button-border-radius: 5px;

//Border
$border-thin: 1px;
$border-med: 2px;
$border-thick: 3px;

//Widths
$inner-max-width: 350px;

// Z INDEX
$navLayer: 250;